
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 92px 24px 96px 24px ;
    font-size: 18px;
    font-weight: normal;
}


.header__links-list{
    display: flex;
    align-items: center;
    gap: 13px 33px;
    list-style: circle;
}
.header__links-list-item_no-bullit{
    list-style: none;

}
.header__link{
    font-weight: normal;
    font-size: 18px;
}
.header__link_active{
    text-decoration: none;
}
.header__logo{
    width: 148px;
    height: 105px;
    margin-left: 36px;
    margin-right: 234px;
 
}
.address{
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.header__address {
    justify-self: end;
    width: 240px;
  }

.no-wrap{
    white-space: nowrap;
}

.header__address-link{
    text-underline-offset: 5px;
}
.cover{
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #a7a7a7;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 179px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cover__title{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    font-size: 100px;
    padding: 165px 50px 147px 50px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase


}
.letter-spacing-extended{
    letter-spacing: 40px;
}
.aligned-text,
.aligned-text_center,
.aligned-text_right{
    display: block;
}
.aligned-text{
    text-align: left;

}
.aligned-text_center{
    text-align: center;
    letter-spacing: 10px;

}
.aligned-text_right{
    text-align: right;
}
.no-letter-spacing{
    letter-spacing: 0;
}
.cover__description{
    display: flex;
    justify-content: center;


}
.cover__description-text{
    margin-right: 79px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
    margin-bottom: 62px;
    padding-top: 14px;
}
.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    color: inherit;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: 0.3 ease;
    cursor: pointer;
    margin-bottom: 51px;
  }
.bet-button::hover{
    transform: scale(1.03);  
}

.lots{
    padding: 0px 24px 0px 24px;
    margin-bottom: 146px;
}

.lots__heading{
    margin-bottom: 27px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}
.lots__card-list-item {
    flex: 1 1 334px;
    min-height: 450px;
  }

.card-link{
    display:block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.card{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px 40px;
    color: #fff;
}
.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
  }
  
  .card_type_book {
    background-image: url("../images/card-lot-02.jpg");
  }
  
  .card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
  }
.card__title{
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
}
.card__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-decoration: none;

}
.card_type_film{
    display: flex;
    gap:238px ;
}
.card_type_picture{
    display: flex;
    gap:90px ;
}
.card_type_film,
.card_type_book,
.card_type_picture {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.lots__look-more-link {
    margin-left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    text-underline-offset: 5px;

  }

.lots__look-more-link:hover {
    text-underline-offset: 7px;
  }